<% if (!user) { %>
  <link rel="stylesheet" href="/stylesheets/siwg.css">
<% } %>
</head>
<body>
  <nav class="navbar navbar-light" style="background-color: #1f1d13a5;">
    <div class="container-fluid">
      <a href="/">
        <i class="fas fa-utensils fa-2x"></i>
      </a>
      <a class="navbar" href="/">Home</a>
      <a class="navbar" href="/foods">All Foods</a>
      <a class="navbar" href="/profiles">Profiles</a>
      <a class="navbar" href="/ingredients">Ingredients</a>
    <% if (user) { %>
      <div>
        <a href="/auth/logout">
        <button type="submit">Logout</button>
        </a>
    <% } else { %>
        <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google"/>
        </button>
        </a>
      </div>
    <% } %>
    </div>
  </nav>