body{
  background-image: url('../images/pages/dark-food-mixed.jpg');
  background-size: cover;
  image-rendering: pixelated;
  backdrop-filter: blur(5px);
  height: 100vh;
  color: #DEE2E6;
}

input {
  background-color: #495057;
}

input, textarea {
  color: white;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
h1 {
  background-color: #c0c0c0b6;
  color: black;
  width: 20vh;
  border-radius: 7px 7px 0 0 ;
  text-align: center;
  margin: auto;
}

h2 {
  background-color: #c0c0c0b6;
  color: black;
  width: 20vh;
  border-radius: 0 0 7px 7px;
  text-align: center;
  margin: auto;
}

h3 {
  background-color: #c0c0c0b6;
  color: black;
  width: 20vh;
  border-radius: 7px;
  text-align: center;
  position: relative;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

label {
  color: black;
  background-color: #c0c0c0b6;
  margin-top: 15px;
  border-radius: 7px;
  display: flex;
  align-items: center;
}

.navbar {
  color: white;
}

.food-details {
  color: #212529;
  text-decoration: none;
  background-color: #a2d2ff;
}

.card{
  color: #212529;
  width: 15%;
  height: 10%;
  margin: 15px;
  background-color: #dee2e6;
}

.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.add-food {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-content: space-around;
}

.content-textarea {
  background-color: #495057;
  font-size: 24px;
}

.direction-form {
  display: flex;
}

.direction-form label {
  margin: 0;
}

.prep-time {
  height: 37px;
}

.prep-time p, .prep-time input {
  margin: 0;
}

#add-food {
  height: 30px;
  margin-top: 15px;
  padding: 15px;
  line-height: 0;
  height: 1005;
}


