body{
  background-image: url('../images/pages/jimmy-dean.jpg');
  background-size: cover;
  image-rendering: pixelated;
  backdrop-filter: blur(4px);
  height: 100vh;
  color: #DEE2E6;
}

label {
  margin-top: 15px;
}

input {
  background-color: #495057;
}

input, textarea {
  color: white;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.food-details {
  color: red;
  text-decoration: none;
}

.card {
  color: #343a40;
  width: 25%;
  margin: 15px 15px 15px 15px;
  background-color: #adb5bd;
  text-align: center;
}