body{
  background-image: url('../images/pages/dark-food-mixed.jpg');
  background-size: cover;
  image-rendering: pixelated;
  backdrop-filter: blur(5px);
  height: 100vh;
}

p {
  background-color: #c0c0c0b6;
  color: black;
  text-align: center;
  width: 45%;
  display: block;
  margin: auto;
}

h1 {
  color: #FF4500;
  margin: 15px;
  padding: 15px;
}

.profile {
  margin: auto;
  padding: 25px;
}

.navbar {
  color: white;
}